
<meta property="og:image" content="/img/og.jpg"/>
<meta property="og:title" content="CingularI's Keep - {{ title }}"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="{{ desc }}"/>
<meta property="og:url" content="{{ metadata.url }}{{ page.url }}"/>
<meta property="og:site_name" content="cingulari"/>
<meta property="og:locale" content="ru_RU">
