{%- if tag == 'home-page' -%}
<title>CingularI's Keep - Главная</title>
<meta name="description" content="CingularI's Home Page">
{%- elif tag == 'about-page' -%}
<title>CingularI's Keep - О себе</title>
<meta name="description" content="This is the about page description.">
{%- endif -%}
