<footer class="footer" id="footer">
    <div class="footer-content">
    <p class="footer-text">© Max Mayak 2008-2025</p>
    <nav class="footer-links">
        <span><a href="https://vk.com/cingulari_art">vk</a> </span><span></span>
        <span><a href="https://t.me/cingulari_art">tg</a> </span><span></span>
        <span><a href="mailto:cst.aliteg@gmail.com">email</a></span><span></span>
    </nav>
    </div>
</footer>
