<header>
    <label for="theme-switch" class="switch-label"></label>
	<div class="page-header--content">
		<div class="logo">
			<a href="/">CingularI's Keep</a>
		</div>
		<nav class="primary-nav">
				<span><a href="/blog/">посты</a></span><span></span>
				<span><a href="/gallery/">галерея</a></span><span></span>
                <span><a href="/heritage/">архивное</a></span><span></span>
                <span><a href="/about/">о себе</a></span><span></span>
		</nav>
	</div>
</header>
